<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=8895ebeb03becae9c0808d65e939d70e">
    <link rel="stylesheet" href="../static/css/Lato.css?h=4f8c8a4a468e0c6f3c36b64fda07facf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/untitled.css?h=7cb78fa8ad52711ab66a23ae9afac7d8">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">Binomi</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background: #fee600;background-size: cover;padding-bottom: 0px;">
        <div class="overlay" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;margin-top: -560px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative" style="padding-bottom: 0px;padding-top: 71px;margin-bottom: 34px;margin-top: -153px;">
                    <h1 class="mb-5" style="color: #222;margin-top: -59px;margin-bottom: 81px;padding-top: 30px;">Looking for a roomie? Use binomi.</h1>
                </div>
            </div>
        </div>
    </header>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url(&quot;../static/images/photo-1511632765486-a01980e01a18.jpg?h=7ddaa9784383dfe105ccf053b258f850&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2><strong><span style="background-color: rgb(248, 249, 250);">Find the one</span></strong><br></h2>
                    <p class="lead mb-0"><span style="background-color: rgb(248, 249, 250);">Find your perfect roomie with your preferences on binomi!</span><br></p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;../static/images/bg-showcase-2.jpg?h=82f59ff9dc7ce5bb277d6dfa737a6e45&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2><strong><span style="background-color: rgb(248, 249, 250);">How we made this happen</span></strong><br></h2>
                    <p class="lead mb-0"><span style="background-color: rgb(248, 249, 250);">Using Flask and SQL we managed to make binomi happen.</span><br></p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url(&quot;../static/images/pexels-photo-106399.jpg?h=ad75479d3ec80765ea7ab0d7ee4c32a0&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2><strong><span style="background-color: rgb(248, 249, 250);">Easy to Use</span></strong><br></h2>
                    <p class="lead mb-0"><span style="background-color: rgb(248, 249, 250);">Click on someone's image..</span><br><span style="background-color: rgb(248, 249, 250);">Check if you have matching preferences..</span><br><span style="background-color: rgb(248, 249, 250);">Call them up!</span><br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-light testimonials" style="height: 572.5px;">
        <div class="container">
            <h2 class="mb-5">Our Team members</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="../static/images/IMG_1311.jpg?h=08464101b7635bc41bd0348f525ecd25" width="174" height="191">
                        <h5>Youssef J.</h5>
                        <p class="font-weight-light mb-0">Project Management and Dev-ops.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="../static/images/testimonials-2.jpg?h=2f7c16e307b7da2bdf38d580d9a3fed9" width="190" height="190">
                        <h5>Akram J.</h5>
                        <p class="font-weight-light mb-0">Front End developer (6000).</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="../static/images/Youssef%20Abid-Portrait.jpg?h=f2e42e472d7b4224636b674468a5bfbd" width="192" height="186">
                        <h5>Youssef A.</h5>
                        <p class="font-weight-light mb-0">Back End developer.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light footer" style="margin-top: -60px;padding-top: 71px;padding-bottom: 3px;background-color: #fee600;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="/profile">Profile</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="/">Home</a></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0"></p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"></a></li>
                        <li class="list-inline-item"><a href="#"></a></li>
                        <li class="list-inline-item"><a href="https://github.com/YoussefJell/Binomi-TN"><i class="fa fa-github fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>