<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Login & Signup</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
	<link rel="stylesheet" href="../static/styles/footer.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

	{% with messages = get_flashed_messages(with_categories=true) %} {% if
		messages %} {% for category, message in messages %}  {% if category == 'error' %}
		<div class="alert_error">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			<strong>{{ message }}</strong>
		</div>
	{% endif %} {% endfor %} {% endif %} {% endwith %}

	<h2>Find The Right Roommate</h2>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="/sign-up" enctype="multipart/form-data" method="POST">
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				<input type="text" name="first_name" placeholder="First Name" required />
				<input type="text" name="last_name" placeholder="Last Name" required />
				<input type="email" name="email" placeholder="Email" required />
				<input type="password" name="password1" placeholder="Password" required />
				<input type="password" name="password2" placeholder="Confirm Password" required />

				<button type="submit">Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="/login" enctype="multipart/form-data" method="POST">
				<h1>Sign In</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input type="email" name="email" placeholder="Email" required />
				<input type="password" name="password" placeholder="Password" required />
				<a href="#">Forgot your password?</a>
				<button type="submit">Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>Connect To Match With Roommates</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello There!</h1>
					<p>Create your account and find a roommate</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>
			Created with <i class="fa fa-heart"></i> Love
			- Binomi
		</p>
	</footer>
</body>

</html>

<script>
	const signUpButton = document.getElementById('signUp');
	const signInButton = document.getElementById('signIn');
	const container = document.getElementById('container');

	signUpButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
	});


	signInButton.addEventListener('click', () => {
		container.classList.remove("right-panel-active");
	});
</script>