<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>modify</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css">


    <link rel="stylesheet" href="../static/styles/modify.css" />

    <link
      rel="import"
      href="https://rawgit.com/sitepoint-editors/multiselect-web-component/master/src/multiselect.html"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.js"></script>
    <script src="../static/scripts/modify.css"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src= "https//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src= "https//harvesthq.github.io/chosen/chosen.jquery.js"></script>

  </head>

  <body>
    <div class="container">
      <form action="/profile" enctype="multipart/form-data" method="POST">
      <h1 class="title">Modify Your Profile</h1>

      <div class="grid">
        <div class="form-group a">
          <label for="fname">First Name</label>
          <input id="fname" name="first_name" type="text" />
        </div>

        <div class="form-group b">
          <label for="lname">Last Name</label>
          <input id="lname" type="text" name="last_name"/>
        </div>

        <div class="form-group phone-group">
          <label for="phone">Phone Number</label>
          <input id="phone" type="text" name="phone" required/>
        </div>

        <div class="textarea-group bio" >
          <label for="bio">Bio</label>
          <textarea id="bio" name='bio' required></textarea>
        </div>
        <div class="form-group">
          <label for="budget" >Budget (Per Month)</label>
          <input id="budget" name="budget" type="number" min="1" pattern="[0-9]" required/>
        </div>

        <div class="form-group">
          <label for="location"> Location </label>
          <label class="select" for="slct">
            <select id="slct" required="required">
              <option value="" disabled="disabled" selected="selected">Select option</option>
              <option value="one">One</option>
              <option value="two">Two</option>
            </select>
            <svg>
              <use xlink:href="#select-arrow-down"></use>
            </svg>
          </label>
            <svg class="sprites">
            <symbol id="select-arrow-down" viewbox="0 0 10 6">
              <polyline points="1 1 5 5 9 1"></polyline>
            </symbol>
            </svg>
        </div>

        <div class="form-group">
          <label for="location"> Sex </label>
          <label class="select" for="slct">
            <select id="slct" name="select_sex" required="required">
              <option value="" disabled="disabled" selected="selected">Select option</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            <svg>
              <use xlink:href="#select-arrow-down"></use>
            </svg>
          </label>
            <svg class="sprites">
            <symbol id="select-arrow-down" viewbox="0 0 10 6">
              <polyline points="1 1 5 5 9 1"></polyline>
            </symbol>
            </svg>
        </div>

        <select data-placeholder="Choose tags ..." name="tags[]" multiple class="chosen-select">
          <option value="Engineering">Engineering</option>
          <option value="Carpentry">Carpentry</option>
          <option value="Plumbing">Plumbing</option>
          <option value="Electical">Electrical</option>
          <option value="Mechanical">Mechanical</option>
          <option value="HVAC">HVAC</option>
        </select>
        
      </div>

      <div class="button-container">
        <button class="button" type="submit">Save</button>
      </div>
      </form>
    </div>
  </body>
</html>
