<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../static/styles/profile.css?{{ cache_id }}" />
	<link rel="stylesheet" href="../static/styles/popup.css?{{ cache_id }}" />
	<title>Hello, world!</title>
</head>

<body>
	<div class="container2">
		<h1 class="title">Upload your profile picture</h1>
		<br>
		<div class="grid">
			<form method="post" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				{% for error in form.photo.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
				{{ form.photo }}
				<div class="button-container2">
					{{ form.submit(class="button") }}
				</div>

			</form>

			{% if file_url %}
			<div class="mt-5">
				<img src="{{ file_url }}" style="width: 400px;">
			</div>
			{% endif %}
		</div>
	</div>
</body>

</html>