.popup.hide {
	visibility: hidden;
	position: fixed;
	z-index: 6;
}

.popup.show {
	animation: fadeIn 1s;
	visibility: visible;
}

.uploadpopup.hide {
	visibility: hidden;
	position: fixed;
	z-index: 6;
}

.uploadpopup.show {
	animation: fadeIn 1s;
	visibility: visible;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.form-group {
	display: flex;
	flex-direction: column;
}

.textarea-group label,
.form-group label {
	color: #222;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

.form-group [type],
.textarea-group textarea {
	border: 1px solid #d2d6db;
	border-radius: 6px;
	padding: 15px;
}

.form-group [type]:hover,
.textarea-group textarea:hover {
	border-color: #a8afb9;
}

.form-group [type]:focus,
.textarea-group textarea:focus {
	border-color: #5850eb;
}

.textarea-group {
	margin-top: 24px;
}

.textarea-group textarea {
	resize: none;
	width: 100%;
	margin-top: 10px;
	height: calc(100% - 59px);
}

.checkbox-group {
	margin-top: 25px;
}

.checkbox-group label {
	display: flex;
}

.checkbox-group label::before {
	content: "\0020";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1px solid #d2d6db;
	border-radius: 6px;
	transition: background 0.1s ease-in;
}

.checkbox-group input[type="checkbox"] {
	/* ici on ne doit pas mettre de display: none afin de pouvoir "tabber" */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.checkbox-group input[type="checkbox"]:focus+label:before {
	border-color: #5850eb;
}

.checkbox-group input[type="checkbox"]:checked+label:before {
	color: #fff;
	content: "\2713";
	background: #5850eb;
	border-color: #5850eb;
}

.button:hover {
	background: #fff192;
}

.button:focus {
	background: #ffea61;
}

@media screen and (min-width: 768px) {
	body {
		align-items: center;
		justify-content: center;
	}

	.container {
		background-color: #FFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		max-width: 32rem;
		padding: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 80%;
		width: 100%;
	}

	.container2 {
		max-width: 80%;
		width: 100%;
		background-color: #FFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 2rem;
	}

	.checkboxes {
		display: flex;
	}

	.checkboxes> :not(:first-child) {
		margin-left: 1rem;
	}

	.grid {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
	}

	.email-group {
		grid-column: 1;
		grid-row: 2;
	}

	.phone-group {
		grid-column: 2;
		grid-row: 2;
	}

	.textarea-group {
		grid-column: 3;
		grid-row: span 2;
		margin-right: 2rem;
	}

	.button-container {
		text-align: right;
	}

	.button-container2 {
		text-align: right;
		margin-top: -40px;
		margin-right: -90px;
	}

	.button {
		/* bon, bon, bon
          c'est pas tout mais j'ai faim moi ^^
          */
		width: auto;
	}
}


.bio {
	max-height: 300px;
}

#preferences {
	margin-top: 10px;
}


.multiselect-field {
	margin-top: 0px;
}


#container {
	margin-top: 10px;
}

.pref {
	margin-top: 6px;
}

.preferences {
	margin-top: 10px;
}



.select {
	position: relative;
	min-width: 200px;
}

.select svg {
	position: absolute;
	right: 12px;
	top: calc(50% - 3px);
	width: 10px;
	height: 6px;
	stroke-width: 2px;
	stroke: #9098a9;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	pointer-events: none;
}

.select select {
	-webkit-appearance: none;
	padding: 7px 40px 7px 12px;
	width: 100%;
	border: 1px solid #e8eaed;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 3px -2px #9098a9;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	transition: all 150ms ease;
}

.select select:required:invalid {
	color: #5a667f;
}

.select select option {
	color: #223254;
}

.select select option[value=""][disabled] {
	display: none;
}

.select select:focus {
	outline: none;
	border-color: #07f;
	box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover+svg {
	stroke: #07f;
}

.sprites {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}