* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  background: #f6f5f7;
  z-index: 1;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 80%;
  height: 100%;
  overflow: visible;
  text-align: center;
  box-shadow: 0 0 5px #00000070;
}

.top-section {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  padding: 50px 0px;
  height: 180px;
  background: #FFD400;
}

.pic {
  margin-top: -80px;
  z-index: 5;
  width: 150px;
  height: 150px;
  border: 2px solid #141414;
  border-radius: 50%;
  position: relative;
}

.pic img {
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 50%;
}

.pic:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #FFD400;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  animation: wave 1.5s infinite linear;
}

@keyframes wave {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.name {
  color: #222;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.myname {
  color: #222;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tag {
  font-size: 18px;
  color: #222;
}

.bold {
  color: #222;
  font-weight: bold;
}

.name {
  margin-right: 31%;
}

.bottom-section {
  background: #f1f1f1;
  display: flex;
  flex-flow: column;
  padding-top: 50px;
  padding-bottom: 150px;
}

.border {
  width: 1px;
  height: 20px;
  background: #bbb;
  margin: 0 30px;
}

.userloc {
  margin-top: 50px;
  position: absolute;
}

.button {
  border-radius: 20px;
  border: 1px solid #ffd400;
  background-color: #ffea61;
  color: #222;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 12px;
  letter-spacing: 1px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);

}

.editbutton {
  border-radius: 50%;
  border: 1px solid #ffd400;
  background-color: #ffea61;
  color: #222;
  font-size: 12px;
  margin-top: 100px;
  z-index: 5;
  width: 50px;
  height: 50px;
  font-weight: bold;
  padding: 12px 12px;
  box-shadow: 0 5px 2px rgba(57, 52, 52, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
}

.preference-section {
  display: flex;
  flex-wrap: row;
  width: 100;
}

.info-grid-container {
  display: grid;
  width: 400px;
  grid-template-columns: auto auto;
  gap: 25px;
  margin-left: 30%;
  margin-right: 15%;
  margin-bottom: 40px;
}

.info-grid-item {
  padding: 2px;
  font-size: 18px;
  table-layout: auto;
  text-align: left;
  max-height: 200px;
  overflow: scroll;
}

.preferences {
  display: flex;
  margin-top: 120px;
  margin-left: 30%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 30%;

}

.card {
  flex: auto;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.text {
  text-justify: auto;
  font-size: small;
}