@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* styling for the Pen, unrelated to background */
body {
  background-color: #0D1524;
}
::-webkit-scrollbar {
  display: none;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ebbc46;
  transition-duration: 0.5s;
 /* display: block;
  position: absolute;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;*/
}
.menu__btn > span::before {
  content: '';
  z-index: 2;
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  z-index: 2;
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  z-index: 1;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #1B2332;
  box-shadow: 2px 2px 6px #ebbc46;
  transition-duration: .30s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  color: #1B2332;
  background-color: #ebbc46;
}

.colWrapper {
  margin:2 auto;
}
.column {
  width:33%;
  float:left;
}

.container{
  margin-top:5px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  background-color: #1B2332;
  color: #ebbc46;
  border: 2px solid #ebbc46;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.searchTerm:focus {
  color: #FFFFFF;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 2px solid #ebbc46;
  background: #1B2332;
  text-align: center;
  color: #ebbc46;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.cards-wrapper {
  width: 250%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  grid-gap: 50px;
  margin-top: 50px;
  margin-left: -40%;
  margin-right: 2%;
}
.card {
  background-color: #1B2332;
  display: flex;
  flex-direction: column;
  align-content:space-between;
  width: 300;
  height: 290;
  border: 1px solid #ebbc46;
  border-radius: 10px;
  overflow: hidden;
}

.card__description {
  background-color: #1B2332;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding: 15px 0;
}

.card__descriptionIcon {
  font-size: 32px;
  margin-bottom: 140px;
}

.card__descriptionText {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.card__price {
  text-align: center;
  color: #1B2332;
  font-size: 12px;
  font-weight: 700;
  margin-top: 35px;
  padding: 5px 25px;
  align-items: flex-end;
  border-top: 2px solid #2e323d;
  background-color: #29cb7b;
}

.card--fixedWidth {
  max-width: 500px;
}