@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #FFD400;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: #222;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #FFD400, #FFD400);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: #222;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

.colWrapper {
  margin:2 auto;
}
.column {
  width:33%;
  float:left;
}

.container{
  margin-top:5px;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-top: 10px;
  min-width: 100px;
  max-width: 500px;
  position: relative;
}
.searchTerm {
  width: 100%;
  border: 2px solid #FFDD3C;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.searchTerm:focus {
  color: #000000;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #FFDD3C;
  background: #FFDD3C;
  text-align: center;
  color: #222;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  grid-gap: 50px;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 2%;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 300;
  align-content:space-between;
  width: 300;
  height: 290;
  border: 1px solid #222;
  border-radius: 10px;
  overflow: hidden;
}

.card__description {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding: 15px 0;
}

.card__descriptionIcon {
  font-size: 32px;
  margin-bottom: 140px;
}

.card__descriptionText {
  color: #57727C;
  font-size: 12px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.card__price {
  text-align: center;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  padding: 25px;
  align-items: flex-end;
  border-top: 1px solid #D7DBDD;
  background-color: #FFDD3C;
}

.card--fixedWidth {
  max-width: 500px;
}
